@charset "utf-8";
h1,h2,h3,h4,h5,h6,form,ul,ol,dl,dt,dd,p,i,li,big,small,em,i{margin:0;padding:0;}
div {margin:0 auto;}
img{border:none;}

/*弹出层*/
#dialogBg{filter:alpha(opacity=20);opacity:0.25;position:absolute;top:0;z-index:1000;}
#dialog{position:absolute;border:#00658B 1px solid;background:#fff;z-index:1000;}
#dialog_title{padding:0 2px;background:#E4EEFF;height:24px;}
#dialog_title h4{float:left;font-size:12px;line-height:24px; text-indent:5px;color:#00659B;}
#dialog_title small{float:right;cursor:pointer;background:url(../images/delete.gif) no-repeat;width:20px;padding-top:20px;height:0;font-size:0;overflow:hidden; margin-top:2px;}

.dialog ul {list-style:none; height:30px; }
.dialog ul li { float:left; display:inline;}
.dialog ul li.txt {width:60px;text-align:right;padding-right:4px;}
.dialog ul li .select {overflow:hidden;width:120px;border:1px solid #f4f4f4;height:18px;_height:20px;*display:inline-block;*float:left;}
.dialog ul li .select select {border-style:none;border-width:0px;margin:0 -1px -1px -1px;height:18px;width:121px;display:block;font-family:Arial;}
.dialog ul li .select select {*+height:20px;*+width:122px;*+margin:-1px;}
.dialog ul li .select select>option {text-indent:-3px;color:#999;}
.dialog ul li .formula_input { width:114px;}